[submodule "aspire/sim/cap/third_party/LIBERO-PRO"]
	path = aspire/sim/cap/third_party/LIBERO-PRO
	url = https://github.com/uynitsuj/LIBERO-PRO.git
[submodule "aspire/sim/cap/third_party/robosuite"]
	path = aspire/sim/cap/third_party/robosuite
	url = https://github.com/uynitsuj/robosuite
[submodule "aspire/sim/cap/third_party/libero_dependencies/robosuite"]
	path = aspire/sim/cap/third_party/libero_dependencies/robosuite
	url = https://github.com/Max-Fu/robosuite
	branch = maxf/egl_context
[submodule "aspire/sim/cap/third_party/sam3"]
	path = aspire/sim/cap/third_party/sam3
	url = https://github.com/facebookresearch/sam3.git
[submodule "aspire/sim/cap/third_party/contact_graspnet_pytorch"]
	path = aspire/sim/cap/third_party/contact_graspnet_pytorch
	url = https://github.com/elchun/contact_graspnet_pytorch.git
[submodule "aspire/sim/cap/third_party/curobo"]
	path = aspire/sim/cap/third_party/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "aspire/sim/cap/third_party/b1k"]
	path = aspire/sim/cap/third_party/b1k
	url = https://github.com/qingh097/b1k.git
